.Preset {
    width: 7em;
    margin: 0 .5em;
}

.Preset__dropdown {
    width: 12em;
    margin: 0 .5em;
    display: inline-block;
}

.Preset__title {
    font-size: .6em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2.7px;
}