.knob {
    height: 5em;
    width: 5em;
    margin: 0 10px;
    display: inline-block;
    
  }

.knob__name {
    font-size: .6em;
    max-width: 5em;
    text-transform: capitalize;
}

.knob__specialchar {
    font-size: 1em;
}

.knob__value {
    font-size: .6em;
    padding: .2em .5em;
    background-color: rgba(111, 18, 13, 0.66);
}

.knob__image {
    cursor: pointer;
    transform: rotate(-90deg);
}