.knob {
    font-size: .6em;
    width: 6em;
    margin: 0 .5em;
    display: inline-block;
    text-align: center;
  }

.knob__name {
    width: auto;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2.7px;
}

.knob__value {
    padding: .2em .5em;
    background-color: rgba(111, 18, 13, 0.66);
}

.knob__image {
    width: 6em;
    cursor: pointer;
    transform: rotate(-90deg);
}
