.knob {
    font-size: .6em;
    width: 8em;
    margin: 0 .5em;
    display: inline-block;
    border: 1px solid red;
  }

.knob__name {
    max-width: 5em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2.7px;
}

.knob__value {
    padding: .2em .5em;
    background-color: rgba(111, 18, 13, 0.66);
}

.knob__image {
    width: 8em;
    cursor: pointer;
    transform: rotate(-90deg);
}